.form-wrapper {
  background-color: black;
  width: 100%;
  height: 500px;
  color: white;
  display: flex;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5rem;
}

.text h1 {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.text .button, .text .button-rev {
  margin-top: 2rem;
}

button {
  border: none;
  font-size: 100%;
  padding: 0;
  font-family: inherit;
  padding: 0.9rem 3.1rem; 
  margin-top: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.2s ease-out;
}

button:not(:disabled):hover {
  box-shadow: 0px 0px 1px 9px rgba(255, 255, 255, 0.5);
}

// .button {
//   background: white;
//   color: black;
//   text-align: center;
//   max-width: 170px;
//   padding: 0.85rem;  
//   cursor: pointer;
//   margin-top: 1rem;
//   font-size: 0.9rem;
// }

form {
  padding: 5rem;
}

.form-control {
  background: none;
  padding: 0.75rem 1rem;
  border: 1px solid white;
  letter-spacing: 0.7px;
}

#email, #message {
  width: 100%;
}

#first-name {
  margin-right: 1.5rem;
}

#first-name, #last-name {
  width: 260px;
}

p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.75rem;
}

textarea {
  font-family: Gotham;
}

.name-row {
  display: flex;
  margin: 1rem 0;

}

.email-row {
  margin: 1rem 0;
}

.error-notif {
  font-weight: 300;
  color: rgb(238, 94, 94);
  transition: 0.2s;
}


@media (max-width: 1128px) {
  .form-wrapper {
    height: auto;
    // flex-direction: column;
  }

  form, .text {
    padding: 5rem 1rem;
  }

}

@media (max-width: 900px) {
  .name-row {
    height: auto;
    flex-direction: column;
  }

  .form-wrapper {
    // flex-wrap: wrap;
    // flex-direction: column;
  }


  #first-name, #last-name {
    width: 100%;
  }

  #last-name {
    margin-top: 1rem;
  }

  .text, .form {
    // padding: 3rem 5rem 1rem 5rem;
  }
}

@media (max-width: 700px) {
  .form-wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  form {
    padding-top: 0;
  }

  .text {
    padding-bottom: 1rem;
  }

  form, .text {
    width: 67%;
    margin: 0 auto;
  }

  // .name-row {
  //   height: auto;
  //   flex-direction: column;
  // }
}

