<div class="form-wrapper">
  <div class="form-l">
    <div class="text">
      <h1>contact<br>us.</h1>
      <div class="information color-muted-white">   
        <p>Playground srl</p>
        <p>Via G. Mazzini 3/C,</p>
        <p>Cernusco Sul Naviglio - Milano</p>
        <p>T +39 0240706003</p>
      </div>
    </div>
  </div>
  <div class="form-r">
    <form>
      <div class="name-row">
        <div class="form-group">
          <input type="text" class="form-control color-muted-white" id="first-name" required placeholder="name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control color-muted-white" id="last-name" required placeholder="last name">
        </div>
      </div>
      <div class="form-group">
        <input type="email" class="form-control color-muted-white" id="email" required placeholder="email">
      </div>
      <div class="form-group">
        <textarea rows="7" class="form-control color-muted-white" placeholder="message" id="message"></textarea>
      </div>
      <div>
        <div class="button letter-spacing-button"><span>SEND</span></div>
      </div>
    </form>
  </div>
</div>