<div class="banners-wrapper">
  <div class="banner-1" id="weAreScroll">
    <div class="banner-r">
      <div class="text">
        <h1>we<br>are.</h1>
        <p class="color-muted-white letter-spacing-standard line-height-large">Consectetur adipiscing elit.<br>Nulla
          sem.</p>
        <div class="button color-muted-white letter-spacing-button"><span>THE PLAYERS</span><i class="fa fa-angle-right"></i></div>
      </div>
    </div>

    <div class="banner-r-mobile">
      <div class="text-mobile">
        <h1>we are.</h1>
        <p class="color-muted-white letter-spacing-standard">Consectetur adipiscing elit.<br>Nulla
          sem.</p>
        <div class="button color-muted-white letter-spacing-button"><span>THE PLAYERS</span><i class="fa fa-angle-right"></i></div>
      </div>
    </div>

  </div>
  <div class="banner-2" id="weDoScroll">
    <div class="banner-l">
      <div class="text text-rev">
        <h1>we<br>do.</h1>
        <p class="letter-spacing-standard line-height-large">Consectetur adipiscing elit.<br>Nulla sem.</p>
        <div class="button-rev letter-spacing-button"><span>THE PROJECTS</span><i class="fa fa-angle-right"></i></div>
      </div>
    </div>

    <div class="banner-r-mobile">
      <div class="text-mobile">
        <h1>we do.</h1>
        <p class="color-muted-white letter-spacing-standard">Consectetur adipiscing elit.<br>Nulla sem.</p>
        <div class="button color-muted-white letter-spacing-button"><span>THE PROJECTS</span><i class="fa fa-angle-right"></i></div>
      </div>
    </div>

  </div>
  <div class="banner-3" id="careersScroll">
    <div class="banner-r">
      <div class="text">
        <h1>careers.</h1>
        <p class="color-muted-white letter-spacing-standard line-height-large">Culla condimentum tortor sem,<br>in
          semper.</p>
        <div class="button color-muted-white letter-spacing-button"><span>THE POSITIONS</span><i class="fa fa-angle-right"></i></div>
      </div>
    </div>

    <div class="banner-r-mobile">
      <div class="text-mobile">
        <h1>careers.</h1>
        <p class="color-muted-white letter-spacing-standard">Culla condimentum tortor sem,<br>in
          semper.</p>
        <div class="button color-muted-white letter-spacing-button"><span>CAREERS</span><i class="fa fa-angle-right"></i></div>
      </div>
    </div>

  </div>
</div>